<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <div class="text-center">Developed By:</div>
      <div class="text-center"><h3>Jayaprakash</h3></div>
      <div class="text-center">@Jayaprakash</div>
      <div class="text-center">
        <a href="https://jayaprakash524.wordpress.com/">https://jayaprakash524.wordpress.com/</a>
      </div>
    </div>
  </div>
</div>
